@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   --foreground-rgb: 0, 0, 0;
   --background-start-rgb: 214, 219, 220;
   --background-end-rgb: 255, 255, 255;
}

body{
   overflow-x: hidden;
}

@media (prefers-color-scheme: dark) {
   :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-rgb: 0, 0, 0;
      --background-end-rgb: 0, 0, 0;
   }
}

@layer utilities {
   .text-balance {
      text-wrap: balance;
   }
}
.ant-drawer-body {
   padding: 0 !important;
}

/* :where(.css-dev-only-do-not-override-qnu6hi).ant-input-outlined {
   background: #ffffff;
   border-width: 0px !important;
   border-style: solid;
   border-color: #d9d9d9;
} */


::-webkit-scrollbar {
   width: 8px; 
}

::-webkit-scrollbar-track {
   background: #f1f1f1; 
}


::-webkit-scrollbar-thumb {
   background-color: #b8b9ba; 
   border-radius: 5px; 
}